.mainheading{
    text-align:center;
    
}
body {background-image:url("https://pixabay.com/en/clouds-sky-field-sunflower-65347/");
    text-align:center;
    font-size:100%;
       background-size:cover;
      
      
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
}
#nav-bar{list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     color:black;
}
    

 li {  
     float:left;
     display: block;
    color: black;
    text-align: left;
    padding: 10px 10px;
 }
 
 #nav{
    width: 100%;
    height: 10.5%;
    background-size: cover;
    
}