mainheading{
    text-align:center;
    
}
body{
    background-image:url("https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350.jpg");
    background-size:cover;
    text-align:center;
    background-repeat: no-repeat;
    background-color: blue;
      }   

      

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #333
    
}
#nav-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     color:black;
}
    

li{  
     float:left;
     display: block;
    color: black;
    text-align: left;
    padding: 10px 10px;
 }
 
nav{
    width: 100%;
    height: 10.5%;
    background-size: cover;
    
}